html {
    font-family: "Adobe Garamond Pro" serif;
    font-size: 20px;
    padding: 5%;
    background-color: cornsilk;
    color: darkslategray;
}

a {
    display: inline-block;
    color: lightslategray;
    font-size: 20px;
    margin: 30px;
}

td {
    border: 2px solid black;
    text-align: center;
}

th {
    font-weight: bold;
    font-size: 20px;
    border: 2px solid black;
    text-align: center;
}

.search {
    width; 80%;
}

span {
    color: darkred;
}
