{% extends "layout.html" %}

{% block content %}
    <h1>MENU ASK MATE</h1>
    <h3 class = "log_in_name">You are logged in as: {{ username }}</h3>
    <a href="{{ url_for('all_questions') }}">List all questions</a>
    <a href="{{ url_for('add_question') }}">Add question</a>

    <a href="{{ url_for('list_tags') }}"><button >List all tags</button></a>
    <a href="{{ url_for('user_page', user_id=user_id) }}"<button>User page</button></a>
    <a href="{{ url_for('all_users') }}">List all users</a>

    {% include 'logout.html' %}

    <table>
        <tr>
            <th>ID</th>
            <th>Submission time</th>
            <th>View number</th>
            <th>Vote number</th>
            <th>Title</th>
            <th>Message</th>
            <th>Image</th>
        </tr>
        {% for question in questions %}
        <tr>
            <td>{{ question.id }}</td>
            <td>{{ question.submission_time }}</td>
            <td>{{ question.view_number }}</td>
            <td>{{ question.vote_number }}</td>
            <td><a href={{ url_for('question_details', question_id=question.id) }}>{{ question.title }}</a></td>
            <td>{{ question.message }}</td>
            <td>{{ question.image }}</td>
        </tr>
        {%  endfor %}
    </table>

    <form class="search" action="/search" method="GET">
        <input type="text" name="q">
        <input type="submit" class="button" value="Search"><a href="{{ url_for('search') }}"></a>
    </form>
{% endblock %}