{% extends "layout.html" %}

{% block content %}
    <h1>All questions</h1>
    <br>
    <table>
        <tr>
            <th>ID</th>
            <th>Submission time</th>
            <th>View number</th>
            <th>Vote number</th>
            <th>Title</th>
            <th>Message</th>
            <th>Image</th>
        </tr>
        {% for question in questions %}
        <tr>
            <td>{{ question.id }}</td>
            <td>{{ question.submission_time }}</td>
            <td>{{ question.view_number }}</td>
            <td>{{ question.vote_number }}</td>
            <td><a href={{ url_for('question_details', question_id=question.id) }}>{{ question.title }}</a></td>
            <td>{{ question.message }}</td>
            <td>{{ question.image }}</td>
        </tr>
        {%  endfor %}
    </table>
    <a href="{{ url_for('list_tags') }}"><button >List all tags</button></a>
    {% include 'footer.html' %}

{% endblock %}