{% extends "layout.html" %}

{% block content %}
    <h1>Question {{ question_id }}</h1>
        <p>Question ID: {{ answers[0].id }}</p>
        <p>Question Submission time: {{ answers[0].submission_time }}</p>
        <p>Question View number: {{ answers[0].view_number }}</p>
        <p>Question Vote number: {{answers[0].vote_number }}</p><a href="{{ url_for('question_vote_up', question_id=question_id) }}">^</a><a href="{{ url_for('question_vote_down', question_id=question_id) }}">v</a>
        <p>Question Title: {{ answers[0].title }}</p>
        <p>Question Message: {{ answers[0].message }}</p>
        <p>Question Image: {{ answers[0].image }}</p>
        <p>Author User: {{ username }}</p>
        <br>
        <br>
    {% if answers[0]['a_id'] != None %}
        {% for answer in answers %}
            <p>Answer ID: {{ answer.a_id }}</p>
            <p>Answer Submission Time: {{ answer.a_submission_time }}</p>
            <p>Answer Vote number: {{ answer.a_vote_number }}</p><a href="/question/{{ question_id }}/{{ answer.a_id }}/answer-vote-up">^</a><a href="/question/{{ question_id }}/{{ answer.a_id }}/answer-vote-down">v</a>
            <p>Answer Question ID: {{ answer.a_question_id }}</p>
            <a href="{{ url_for('edit_answer', answer_id = answer.a_id) }}">Answer Message: {{ answer.a_message }}</a>
            <p>Answer Image: {{ answer.a_image }}</p>
            <a href="{{ url_for('delete_answer', answer_id = answer.a_id) }}">Delete answer</a>
        {% endfor %}
    {% else %}
        <p>No answers for this question</p>
    {% endif %}
    <br>
    <br>
    <a href="{{ url_for('add_answer', question_id = answers[0].id) }}">Add answer</a>
    <a href="{{ url_for('delete_question', question_id = answers[0].id) }}">Delete question</a>

    {% include 'footer.html' %}
    
{% endblock %}